.title {
    color: rgb(205, 220, 225) !important;
}

.container {
 width: 100%;
    
}

#Project {
    background: radial-gradient(circle, rgba(229,57,53,.3) 0%, rgba(227,93,91,.1) 100%);
    height: 100%;
}

.row {
    
    justify-content: center;
    align-items: center;
}


.card {
    overflow: hidden;
    width: 100%;
    height: 80%;
    border: 2px solid black !important;
    text-align: center;
    color: black;
    border-radius: 20px !important;
    transform: scale(.7);
    
    
    
}

.card:hover {
    background-color: rgba(170, 33, 33, 0) ;
    transform: scale(.8);
    box-shadow: 10px 10px 50px #fff;
    color: white ;
    transition: 600ms;
}

.card:hover .card-image {
    filter: grayscale(0);
    filter: brightness(120%);
    transform: scale(1.2);
}

.card .card-image{
    transform-origin: 50% 65%;
    transition: transform 800ms, filter 3s ease-in-out;
    filter: grayscale(50%);
}


.card-image {
    height: 100%;
}


   
 .btn-grad {background-image: linear-gradient(to right, #C04848 0%, #480048  51%, #C04848  100%)}
 .btn-grad {
       margin: 10px;
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: #fff !important;            
       box-shadow: 0 0 20px #000;
       border-radius: 10px;
       display: block;
     }

.btn-grad:hover {
    background-position: right center; 
    color: #fff !important;
    box-shadow: 0 0 20px #fff;
    text-decoration: none;
}

    

 @media screen and (min-width:360px) and (max-width:768px) {
    .row {
        display:flex;
    }
} 