.navbar {
    background-color: rgb(8, 25, 43);
    min-height: 10%;
    
}


#btn:focus {
    box-shadow: none;  
}

#btn {
    background-color: #fff;
}

#btn:hover {
   
    background-color: #08192B !important;
    
}

.toggle:hover {
    color: #fff !important;
}


.toggle {
    color: #08192B;
    font-size: 1.5rem;
}




#name {
    color: white;
    font-size: 25px;
}


.links {
    font-size: 20px ;
    color: white;
    
    
}


.links:hover {
    border-radius: 12px;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
    color: #08192B;
    font-weight: 700;
    
}

.links:focus {
    border: none;
}

/* animation */

.name {
    position: relative;
    top: 50%;  
   
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    
    color: #fff;

}
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 7em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color:#fff;}
    to{border-right-color: transparent;}
  }