
hr {
    background-color: white;
    height: 3px;
}

#Contact {
    background: radial-gradient(circle, rgba(229,57,53,.3) 0%, rgba(227,93,91,.1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#textarea {
    resize: none;
}


.icons {
    height: 50px;
    margin: 6px 10px;
    width: 60px;
    color: white;
    border-radius: 12px;
   
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}


.icons:hover {
    color: salmon;
   box-shadow: 0 0 10px #fff;
  

}

#contact-info {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
}

.btn-grad {background-image: linear-gradient(to right, #C04848 0%, #480048  51%, #C04848  100%)}
.btn-grad {
      margin: 10px;
      padding: 15px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: #fff !important;            
      box-shadow: 0 0 20px #000;
      border-radius: 10px;
      display: block;
    }

 .btn-grad:hover {
        background-position: right center;
        color: #fff !important;
        box-shadow: 0 0 20px #fff;
        text-decoration: none;
    }   



.form-control:focus {
    background-color: rgb(8, 25, 43);
    color: #fff;
    box-shadow: 0 0 20px #fff;
 }   


 #button {
   margin-left: 7rem;
}

@media screen and (min-width: 360px) and (max-width: 376px){

    .icons {
        height: 40px;
        width: 40px;
    }
    #contact-info {
        display: block;
        justify-content: center;
        align-items: center;
    }

    #social-media {
        display: block;
       
    }
}


  


@media screen and (min-width: 640px) and (max-width: 667px){
   

    .icons {
        height: 40px;
        width: 40px;
    }
    #contact-info {
        display: block;
        justify-content: center;
        align-items: center;
    }

    #social-media {
        display: block;
       
    }
}


@media screen and (max-width: 1024px){
    #form #button {
        margin-left: 5rem;
     }

}








